<body class="cadastro">
<nav class="navbar bg__color">
	<img class="navbar-brand img__navbar" src="img/logo.svg" width="80" height="80" class="d-inline-block align-center" alt="">
</nav>	
	<div class="container__padding container">
		<form action="/add" method="post">
		  <div class="form-row">
		    <div class="form-group col-md-5">

		      <label for="inputNome">Nome</label>
		      <input value = "{{prod.nome}}" name= "nome" type="text" class="form-control" id="inputNome" required placeholder="Insira o nome do produto">
		    </div>
			<div class="form-group col-md-3">
				<label for="inputPreco">Preço</label>
				<input value = "{{prod.preco}}" name= "preco" type="text" class="form-control" id="inputPreco" placeholder="Insira o valor unitário do produto">
			</div>
			<div class="form-group col-md-3">
			<label for="inputQnt">Quantidade</label>
			<select value = "{{prod.qtd}}" name= "qtd" id="inputQnt" class="form-control">
			  <option selected>Selecione a quantidade</option>
			  <option >1</option>
			  <option >2</option>
			  <option >3</option>
			  <option >4</option>
			  <option >5</option>
			  <option >6</option>
			  <option >7</option>
			  <option >8</option>
			  <option >9</option>
			  <option >10</option>
			</select>
			</div>
		  </div>
		 <div class="form-row">			
			<div class="form-group col-md-4">
			<label for="inputTipo">Setor</label>
			<select value = "{{prod.tipo}}" name= "tipo" id="inputTipo" class="form-control">
			  <option selected>Selecione o tipo do produto</option>
			  <option >Doce</option>
			  <option >Salgado</option>
			  <option >Verdura</option>
			  <option >Fruta</option>
			  <option >Legumes</option>
			  <option >Bebida alcoolica</option>
			  <option >Bebida não alcoolica</option>
			</select>
			</div>
			<div class="form-group col-md-5">
			<label for="inputMarca">Marca</label>
			<select value = "{{prod.marca}}" name= "marca" id="inputMarca" class="form-control">
			  <option selected>Selecione a marca do produto</option>
			  <option >Nestlé</option>
			  <option >Danone</option>
			  <option >Unilever</option>
			  <option >P&G</option>
			  <option >Garoto</option>
			  <option >Kraft Heinz</option>
			</select>
			</div>
		</div>
		<div class="btn_center">
		  <button type="submit" class="button__espace btn btn-success">Salvar</button>
		</div>
		</form>
	</div>	
</div>
</body>
